[ec2]
count=1

#####################
# Oregon -- us-west-2
#####################
# region=us-west-2
# subnet_id =subnet-88ab16ed
# security_group_client=sg-bc7b3fd9
# security_group_server=sg-507b3f35
# key_name=controlkey
# result_bucket=msoos-solve-results-oregon
## us-west-2 Ubuntu 14.04 LTS
## ami_id = ami-3ede3d5e
## us-west-2 hvm:ebs-ssd 16.04 LTS
# ami_id=ami-5dca1925

#####################
# London -- eu-west-2
#####################
# region=eu-west-2
# subnet_id =subnet-eb12cf90
# security_group_client=sg-d97fd8b1
# security_group_server=sg-797dda11
# key_name=controlkey-lon
# result_bucket=msoos-solve-results-ireland
# # eu-west-2 hvm:ebs-ssd 16.04 LTS
# ami_id=ami-4c0b1428

#####################
# Ireland -- eu-west-1
#####################
region=eu-west-1
subnet_id =subnet-05c8e843
security_group_client=sg-715c360a
security_group_server=sg-b05e34cb
key_name=controlkey-ireland
result_bucket=msoos-solve-results-ireland
# eu-west-2 hvm:ebs-ssd 16.04 LTS
ami_id=ami-8fd760f6

max_bid=0.09
instance_profile_name=client
instance_profile_arn=arn:aws:iam::907572138573:instance-profile/client

# has instance storage
type=r3.large
