.let-instance {
    & > * {
        white-space: pre;
    }
    &:hover {
        cursor: default;
    }
    .let-literal-or {
        &:hover {
            cursor: pointer;
        }
        color: #ffc547;
    }
    .let-literal {
        &:hover {
            cursor: pointer;
        }
        color: #fd8f00;
    }
}
