.bp3-drawer {
    width: 65%;
    height: max-content !important;
    margin: auto !important;
    #table-node-info {
        width: 90%;
        margin: auto;
    }
}

#table-node-info {
    thead {
        tr {
            th:first-child {
                width: 200px;
                min-width: 200px;
            }
        }
    }
    #icon {
        margin-left: 5px;
        transition: color ease-out 0.25s;
    }
    #icon:hover {
        color: rgb(87, 191, 255);
        cursor: pointer;
    }
    #pre-rule {
        white-space: pre-wrap;
    }
}