.dialog-body {
    max-height: 600px;
    overflow: auto;
    padding: 2px;
}

.welcome-menu {
    text-align: center;
    button{
        width: 150px;
        height: 90px;
        margin: 15px;
        svg {
            transform: scale(1.5);
        }
    }
}