#switch-button-dark-theme {
    margin-top: 10px;
    label {
        float: left;
        margin-top: 4.5px;
    }
    span {
        float: right;
    }
}

.cmd-desc {
    display: grid;
    grid-auto-flow: row;
    row-gap: 20px;
    width: 250px;
    text-align: justify;
    margin: 0px 8px;

    .title {
        font-weight: bold;
        margin-right: 4px;
    }
    .option {
        margin-left: 15px;
        margin-bottom: 10px;
    }
    & .option:last-child {
        margin-bottom: 0px;
    }
}

.matchable-menu {
    max-height: 180px;
    overflow: auto;
}

.nav-menu {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.671);
}
