# Clang-tidy enables the following checks by default:
#   clang-diagnostic-*,
#   clang-analyzer-*
# Additional checks:
Checks: >
  modernize-deprecated-headers,
  modernize-use-nullptr
HeaderFilterRegex: '.*'
# Use .clang-format for formatting changes
FormatStyle: file
