/stamp-h
/stamp-h1
/cvc4-*.tar.gz
/cvc4-*.tar.bz2
/build/
/doc/doxygen
callgrind.out*
gmon.out
stamp-generated
generated/
*~
\#*\#
*.swp
/debug/
/antlr-3.4
deps/

	.clangd/
	CMakeCache.txt
	CMakeFiles/
	CTestTestfile.cmake
	CVC4ConfigVersion.cmake
	Makefile
	bin/
	cmake/CVC4Config.cmake
	cmake_install.cmake
	compile_commands.json
	cvc4autoconfig.h
	doc/CMakeFiles/
	doc/CTestTestfile.cmake
	doc/Makefile
	doc/SmtEngine.3cvc
	doc/SmtEngine.3cvc_template
	doc/cmake_install.cmake
	doc/cvc4.1
	doc/cvc4.1_template
	doc/cvc4.5
	doc/libcvc4.3
	doc/libcvc4parser.3
	doc/options.3cvc
	doc/options.3cvc_template
	install_manifest.txt
	proofs/signatures/CMakeFiles/
	proofs/signatures/CTestTestfile.cmake
	proofs/signatures/Makefile
	proofs/signatures/cmake_install.cmake
	proofs/signatures/signatures.cpp
	src/CMakeFiles/
	src/CTestTestfile.cmake
	src/Makefile
	src/base/CMakeFiles/
	src/base/CTestTestfile.cmake
	src/base/Debug_tags
	src/base/Debug_tags.h
	src/base/Debug_tags.tmp
	src/base/GitInfo.cmake
	src/base/Makefile
	src/base/Trace_tags
	src/base/Trace_tags.h
	src/base/Trace_tags.tmp
	src/base/cmake_install.cmake
	src/base/git_versioninfo.cpp
	src/cmake_install.cmake
	src/expr/CMakeFiles/
	src/expr/CTestTestfile.cmake
	src/expr/Makefile
	src/expr/cmake_install.cmake
	src/expr/expr.cpp
	src/expr/expr.h
	src/expr/expr_manager.cpp
	src/expr/expr_manager.h
	src/expr/kind.cpp
	src/expr/kind.h
	src/expr/metakind.cpp
	src/expr/metakind.h
	src/expr/type_checker.cpp
	src/expr/type_properties.h
	src/libcvc4.so
	src/libcvc4.so.7
	src/main/CMakeFiles/
	src/main/CTestTestfile.cmake
	src/main/Makefile
	src/main/cmake_install.cmake
	src/main/cvc_tokens.h
	src/main/libmain-test.so
	src/main/smt2_tokens.h
	src/main/tptp_tokens.h
	src/options/CMakeFiles/
	src/options/CTestTestfile.cmake
	src/options/Makefile
	src/options/arith_options.cpp
	src/options/arith_options.h
	src/options/arrays_options.cpp
	src/options/arrays_options.h
	src/options/base_options.cpp
	src/options/base_options.h
	src/options/booleans_options.cpp
	src/options/booleans_options.h
	src/options/builtin_options.cpp
	src/options/builtin_options.h
	src/options/bv_options.cpp
	src/options/bv_options.h
	src/options/cmake_install.cmake
	src/options/datatypes_options.cpp
	src/options/datatypes_options.h
	src/options/decision_options.cpp
	src/options/decision_options.h
	src/options/expr_options.cpp
	src/options/expr_options.h
	src/options/fp_options.cpp
	src/options/fp_options.h
	src/options/main_options.cpp
	src/options/main_options.h
	src/options/options.cpp
	src/options/options_holder.h
	src/options/parser_options.cpp
	src/options/parser_options.h
	src/options/printer_options.cpp
	src/options/printer_options.h
	src/options/proof_options.cpp
	src/options/proof_options.h
	src/options/prop_options.cpp
	src/options/prop_options.h
	src/options/quantifiers_options.cpp
	src/options/quantifiers_options.h
	src/options/sep_options.cpp
	src/options/sep_options.h
	src/options/sets_options.cpp
	src/options/sets_options.h
	src/options/smt_options.cpp
	src/options/smt_options.h
	src/options/strings_options.cpp
	src/options/strings_options.h
	src/options/theory_options.cpp
	src/options/theory_options.h
	src/options/uf_options.cpp
	src/options/uf_options.h
	src/parser/CMakeFiles/
	src/parser/CTestTestfile.cmake
	src/parser/Makefile
	src/parser/cmake_install.cmake
	src/parser/cvc/Cvc.tokens
	src/parser/cvc/CvcLexer.c
	src/parser/cvc/CvcLexer.h
	src/parser/cvc/CvcParser.c
	src/parser/cvc/CvcParser.h
	src/parser/libcvc4parser.so
	src/parser/libcvc4parser.so.7
	src/parser/smt2/Smt2.tokens
	src/parser/smt2/Smt2Lexer.c
	src/parser/smt2/Smt2Lexer.h
	src/parser/smt2/Smt2Parser.c
	src/parser/smt2/Smt2Parser.h
	src/parser/tptp/Tptp.tokens
	src/parser/tptp/TptpLexer.c
	src/parser/tptp/TptpLexer.h
	src/parser/tptp/TptpParser.c
	src/parser/tptp/TptpParser.h
	src/theory/CMakeFiles/
	src/theory/CTestTestfile.cmake
	src/theory/Makefile
	src/theory/cmake_install.cmake
	src/theory/rewriter_tables.h
	src/theory/theory_traits.h
	src/theory/type_enumerator.cpp
	src/util/CMakeFiles/
	src/util/CTestTestfile.cmake
	src/util/Makefile
	src/util/cmake_install.cmake
	src/util/floatingpoint_literal_symfpu.h
	src/util/integer.h
	src/util/rational.h
	src/util/real_algebraic_number.h
	test/CMakeFiles/
	test/CTestTestfile.cmake
	test/Makefile
	test/api/CMakeFiles/
	test/api/CTestTestfile.cmake
	test/api/Makefile
	test/api/cmake_install.cmake
	test/cmake_install.cmake
	test/regress/CMakeFiles/
	test/regress/CTestTestfile.cmake
	test/regress/Makefile
	test/regress/cmake_install.cmake

