/autom4te.cache
/stamp-h
/config.h.in
/config.log
/config.status
/config.cache
/cvc4autoconfig.h.in
/libtool
/stamp-h1
/cvc4-*.tar.gz
/cvc4-*.tar.bz2
/builds/
/doc/doxygen
.dep
Makefile.in
/configure
/aclocal.m4
callgrind.out*
gmon.out
stamp-generated
generated/
*~
\#*\#
*.gcov
/lcov/
/config/compile
.cvc4_config
config.reconfig
*.swp
/debug/
/personal.conf
/personal.mk
/antlr-3.4
