Morgan Deters <mdeters@cs.nyu.edu> <mdeters@cs.nyu.edu>
Morgan Deters <mdeters@cs.nyu.edu> <mdeters@gmail.com>
Dejan Jovanovic <dejan@cs.nyu.edu> <dejan@cs.nyu.edu>
Dejan Jovanovic <dejan@cs.nyu.edu> <dejan.jovanovic@gmail.com>
Francois Bobot <francois@bobot.eu> <francois@bobot.eu>
Liana Hadarean <lianah@cs.nyu.edu> <lianahady@gmail.com>
Andrew Reynolds <andrew.j.reynolds@gmail.com> <andrew.j.reynolds@gmail.com>
Cesare Tinelli <cesare-tinelli@uiowa.edu> <cesare-tinelli@uiowa.edu>
Christopher L. Conway <christopherleeconway@gmail.com> <christopherleeconway@gmail.com>
Clark Barrett <barrett@cs.nyu.edu> <barrett@cs.nyu.edu>
Kshitij Bansal <kshitij@cs.nyu.edu> <kshitij@cs.nyu.edu>
Tianyi Liang <tianyi-liang@uiowa.edu> <tianyi-liang@uiowa.edu>
Tim King <taking@cs.nyu.edu> <taking@cs.nyu.edu>
