id     = "DRIVER"
name   = "Driver"

[[option]]
  name       = "showVersion"
  category   = "common"
  short      = "V"
  long       = "version"
  type       = "bool"
  default    = "false"
  predicates = ["showVersion"]
  alternate  = false
  help       = "identify this cvc5 binary"

[[option]]
  name       = "help"
  category   = "common"
  short      = "h"
  long       = "help"
  type       = "bool"
  default    = "false"
  alternate  = false
  help       = "full command line reference"

[[option]]
  name       = "showConfiguration"
  category   = "common"
  long       = "show-config"
  type       = "bool"
  default    = "false"
  predicates = ["showConfiguration"]
  alternate  = false
  help       = "show cvc5 static configuration"

[[option]]
  name       = "showCopyright"
  category   = "common"
  long       = "copyright"
  type       = "bool"
  default    = "false"
  predicates = ["showCopyright"]
  alternate  = false
  help       = "show cvc5 copyright information"

[[option]]
  name       = "seed"
  category   = "common"
  short      = "s"
  long       = "seed=N"
  type       = "uint64_t"
  default    = "0"
  help       = "seed for random number generator"

[[option]]
  name       = "showTraceTags"
  category   = "expert"
  long       = "show-trace-tags"
  type       = "bool"
  default    = "false"
  predicates = ["showTraceTags"]
  alternate  = false
  help       = "show all available tags for tracing"

[[option]]
  name       = "earlyExit"
  category   = "expert"
  long       = "early-exit"
  type       = "bool"
  default    = "true"
  help       = "do not run destructors at exit; default on except in debug builds"

[[option]]
  name       = "interactive"
  category   = "common"
  long       = "interactive"
  type       = "bool"
  default    = "false"
  help       = "force interactive shell/non-interactive mode"

[[option]]
  name       = "filename"
  category   = "undocumented"
  long       = "filename=FILENAME"
  type       = "std::string"
  default    = '""'
  help       = "filename of the input"

[[option]]
  name       = "segvSpin"
  category   = "expert"
  long       = "segv-spin"
  type       = "bool"
  default    = "false"
  help       = "spin on segfault/other crash waiting for gdb"

[[option]]
  name       = "dumpModels"
  category   = "regular"
  long       = "dump-models"
  type       = "bool"
  default    = "false"
  help       = "output models after every SAT/INVALID/UNKNOWN response"

[[option]]
  name       = "dumpProofs"
  category   = "regular"
  long       = "dump-proofs"
  type       = "bool"
  default    = "false"
  help       = "output proofs after every UNSAT/VALID response"

[[option]]
  name       = "dumpInstantiations"
  category   = "regular"
  long       = "dump-instantiations"
  type       = "bool"
  default    = "false"
  help       = "output instantiations of quantified formulas after every UNSAT/VALID response"

[[option]]
  name       = "dumpInstantiationsDebug"
  category   = "expert"
  long       = "dump-instantiations-debug"
  type       = "bool"
  default    = "false"
  help       = "output instantiations of quantified formulas after every UNSAT/VALID response, with debug information"

[[option]]
  name       = "dumpUnsatCores"
  category   = "regular"
  long       = "dump-unsat-cores"
  type       = "bool"
  default    = "false"
  help       = "output unsat cores after every UNSAT/VALID response"

[[option]]
  name       = "dumpDifficulty"
  category   = "regular"
  long       = "dump-difficulty"
  type       = "bool"
  default    = "false"
  help       = "dump the difficulty measure after every response to check-sat"

[[option]]
  name       = "forceNoLimitCpuWhileDump"
  category   = "expert"
  long       = "force-no-limit-cpu-while-dump"
  type       = "bool"
  default    = "false"
  help       = "Force no CPU limit when dumping models and proofs"

[[option]]
  name       = "usePortfolio"
  category   = "expert"
  long       = "use-portfolio"
  type       = "bool"
  default    = "false"
  help       = "Use internal portfolio mode based on the logic"

[[option]]
  name       = "portfolioJobs"
  category   = "expert"
  long       = "portfolio-jobs=n"
  type       = "uint64_t"
  default    = "1"
  help       = "Number of parallel jobs the portfolio engine can run"

[[option]]
  name       = "printSuccess"
  category   = "common"
  long       = "print-success"
  type       = "bool"
  default    = "false"
  help       = "print the \"success\" output required of SMT-LIBv2"

[[option]]
  name       = "stdinInputPerLine"
  category   = "expert"
  long       = "stdin-input-per-line"
  type       = "bool"
  default    = "true"
  help       = "when piping from stdin, feed the input to the parser one line at a time."
