id     = "PROOF"
name   = "Proof"

[[option]]
  name       = "proofFormatMode"
  category   = "regular"
  long       = "proof-format-mode=MODE"
  type       = "ProofFormatMode"
  default    = "NONE"
  help       = "select language of proof output"
  help_mode  = "Proof format modes."
[[option.mode.NONE]]
  name       = "none"
  help       = "Do not translate proof output"
[[option.mode.DOT]]
  name       = "dot"
  help       = "Output DOT proof"
[[option.mode.LEAN]]
  name       = "lean"
  help       = "Output Lean proof"
[[option.mode.LFSC]]
  name       = "lfsc"
  help       = "Output LFSC proof"
[[option.mode.ALETHE]]
  name       = "alethe"
  help       = "Output Alethe proof"
[[option.mode.TPTP]]
  name       = "tptp"
  help       = "Output TPTP proof (work in progress)"

[[option]]
  name       = "proofPrintConclusion"
  category   = "expert"
  long       = "proof-print-conclusion"
  type       = "bool"
  default    = "false"
  help       = "Print conclusion of proof steps when printing AST"

[[option]]
  name       = "proofPedantic"
  category   = "expert"
  long       = "proof-pedantic=N"
  type       = "uint64_t"
  default    = "0"
  maximum    = "100"
  help       = "assertion failure for any incorrect rule application or untrusted lemma having pedantic level <=N with proof"

[[option]]
  name       = "proofCheck"
  category   = "expert"
  long       = "proof-check=MODE"
  type       = "ProofCheckMode"
  default    = "LAZY"
  help       = "select proof checking mode"
  help_mode  = "Proof checking modes."
[[option.mode.EAGER]]
  name       = "eager"
  help       = "check rule applications and proofs from generators eagerly for local debugging"
[[option.mode.EAGER_SIMPLE]]
  name       = "eager-simple"
  help       = "check rule applications during construction"
[[option.mode.LAZY]]
  name       = "lazy"
  help       = "check rule applications only during final proof construction"
[[option.mode.NONE]]
  name       = "none"
  help       = "do not check rule applications"

[[option]]
  name       = "checkProofsFail"
  category   = "regular"
  long       = "check-proofs-fail"
  type       = "bool"
  default    = "false"
  help       = "always fail when the checkProof method is invoked (dummy option)"

[[option]]
  name       = "proofReq"
  category   = "regular"
  long       = "proof-req"
  type       = "bool"
  default    = "false"
  help       = "always fail during setDefaults if proof is not enabled (dummy option)"

[[option]]
  name       = "proofUpdateDebug"
  category   = "regular"
  long       = "proof-update-debug"
  type       = "bool"
  default    = "false"
  help       = "debug proof node updater"

[[option]]
  name       = "proofPpMerge"
  category   = "expert"
  long       = "proof-pp-merge"
  type       = "bool"
  default    = "true"
  help       = "merge subproofs in final proof post-processor"

[[option]]
  name       = "proofGranularityMode"
  category   = "regular"
  long       = "proof-granularity=MODE"
  type       = "ProofGranularityMode"
  default    = "MACRO"
  help       = "modes for proof granularity"
  help_mode  = "Modes for proof granularity."
[[option.mode.MACRO]]
  name = "macro"
  help = "Allow macros. Do not improve the granularity of proofs."
[[option.mode.REWRITE]]
  name = "rewrite"
  help = "Allow rewrite or substitution steps, expand macros."
[[option.mode.THEORY_REWRITE]]
  name = "theory-rewrite"
  help = "Allow theory rewrite steps, expand macros, rewrite and substitution steps."
[[option.mode.DSL_REWRITE]]
  name = "dsl-rewrite"
  help = "Allow DSL rewrites and evaluation steps, expand macros, rewrite, substitution, and theory rewrite steps."

[[option]]
  name       = "proofRewriteRconsRecLimit"
  category   = "regular"
  long       = "proof-rewrite-rcons-limit=N"
  type       = "int64_t"
  default    = "5"
  help       = "the matching recursion limit for reconstructing proofs of theory rewrites"

[[option]]
  name       = "proofAnnotate"
  category   = "expert"
  long       = "proof-annotate"
  type       = "bool"
  default    = "false"
  help       = "add optional annotations to proofs, which enables statistics for inference ids for lemmas and conflicts appearing in final proof"

[[option]]
  name       = "optResReconSize"
  category   = "regular"
  long       = "opt-res-reconstruction-size"
  type       = "bool"
  default    = "true"
  help       = "Optimize resolution reconstruction to reduce proof size"

[[option]]
  name       = "proofPruneInput"
  category   = "expert"
  long       = "proof-prune-input"
  type       = "bool"
  default    = "false"
  help       = "Prune unused input assumptions from final scope"

[[option]]
  name       = "proofAletheResPivots"
  category   = "expert"
  long       = "proof-alethe-res-pivots"
  type       = "bool"
  default    = "false"
  help       = "Add pivots to Alethe resolution steps"

[[option]]
  name       = "printDotAsDAG"
  category   = "expert"
  long       = "proof-dot-dag"
  type       = "bool"
  default    = "false"
  help       = "Indicates if the dot proof will be printed as a DAG or as a tree"

[[option]]
  name       = "produceFinalProof"
  category   = "regular"
  long       = "produce-final-proof"
  type       = "bool"
  default    = "false"
  help       = "produce final proof regardless of printing or checking it"

[[option]]
  name       = "printDotClusters"
  category   = "regular"
  long       = "print-dot-clusters"
  type       = "bool"
  default    = "false"
  help       = "Whether the proof node clusters (e.g. SAT, CNF, INPUT) will be printed when using the dot format or not."
