id     = "PROOF"
name   = "Proof"

[[option]]
  name       = "proofFormatMode"
  category   = "regular"
  long       = "proof-format-mode=MODE"
  type       = "ProofFormatMode"
  default    = "NONE"
  help       = "select language of proof output"
  help_mode  = "Proof format modes."
[[option.mode.NONE]]
  name       = "none"
  help       = "Do not translate proof output"
[[option.mode.DOT]]
  name       = "dot"
  help       = "Output DOT proof"
[[option.mode.LFSC]]
  name       = "lfsc"
  help       = "Output LFSC proof"
[[option.mode.ALETHE]]
  name       = "alethe"
  help       = "Output Alethe proof"
[[option.mode.TPTP]]
  name       = "tptp"
  help       = "Output TPTP proof (work in progress)"

[[option]]
  name       = "proofPrintConclusion"
  category   = "regular"
  long       = "proof-print-conclusion"
  type       = "bool"
  default    = "false"
  help       = "Print conclusion of proof steps when printing AST"

[[option]]
  name       = "proofPedantic"
  category   = "regular"
  long       = "proof-pedantic=N"
  type       = "uint64_t"
  default    = "0"
  help       = "assertion failure for any incorrect rule application or untrusted lemma having pedantic level <=N with proof"

[[option]]
  name       = "proofCheck"
  category   = "regular"
  long       = "proof-check=MODE"
  type       = "ProofCheckMode"
  default    = "LAZY"
  help       = "select proof checking mode"
  help_mode  = "Proof checking modes."
[[option.mode.EAGER]]
  name       = "eager"
  help       = "check rule applications and proofs from generators eagerly for local debugging"
[[option.mode.EAGER_SIMPLE]]
  name       = "eager-simple"
  help       = "check rule applications during construction"
[[option.mode.LAZY]]
  name       = "lazy"
  help       = "check rule applications only during final proof construction"
[[option.mode.NONE]]
  name       = "none"
  help       = "do not check rule applications"

[[option]]
  name       = "proofPpMerge"
  category   = "regular"
  long       = "proof-pp-merge"
  type       = "bool"
  default    = "true"
  help       = "merge subproofs in final proof post-processor"

[[option]]
  name       = "proofGranularityMode"
  category   = "regular"
  long       = "proof-granularity=MODE"
  type       = "ProofGranularityMode"
  default    = "MACRO"
  help       = "modes for proof granularity"
  help_mode  = "Modes for proof granularity."
[[option.mode.MACRO]]
  name = "macro"
  help = "Allow macros. Do not improve the granularity of proofs."
[[option.mode.REWRITE]]
  name = "rewrite"
  help = "Allow rewrite or substitution steps, expand macros."
[[option.mode.THEORY_REWRITE]]
  name = "theory-rewrite"
  help = "Allow theory rewrite steps, expand macros, rewrite and substitution steps."
[[option.mode.DSL_REWRITE]]
  name = "dsl-rewrite"
  help = "Allow DSL rewrites and evaluation steps, expand macros, rewrite, substitution, and theory rewrite steps."

[[option]]
  name       = "proofAnnotate"
  category   = "regular"
  long       = "proof-annotate"
  type       = "bool"
  default    = "false"
  help       = "add optional annotations to proofs, which enables statistics for inference ids for lemmas and conflicts appearing in final proof"

[[option]]
  name       = "proofPruneInput"
  category   = "regular"
  long       = "proof-prune-input"
  type       = "bool"
  default    = "false"
  help       = "Prune unused input assumptions from final scope"

[[option]]
  name       = "proofAletheResPivots"
  category   = "regular"
  long       = "proof-alethe-res-pivots"
  type       = "bool"
  default    = "false"
  help       = "Add pivots to Alethe resolution steps"

[[option]]
  name       = "proofDotDAG"
  category   = "regular"
  long       = "proof-dot-dag"
  type       = "bool"
  default    = "false"
  help       = "Indicates if the dot proof will be printed as a DAG or as a tree"
