id     = "PROP"
name   = "SAT Layer"

[[option]]
  name       = "satRandomFreq"
  alias      = ["random-frequency"]
  category   = "expert"
  long       = "random-freq=P"
  type       = "double"
  default    = "0.0"
  minimum    = "0.0"
  maximum    = "1.0"
  help       = "sets the frequency of random decisions in the sat solver (P=0.0 by default)"

[[option]]
  name       = "satRandomSeed"
  category   = "regular"
  long       = "sat-random-seed=N"
  type       = "uint64_t"
  default    = "0"
  help       = "sets the random seed for the sat solver"

[[option]]
  name       = "satVarDecay"
  category   = "expert"
  type       = "double"
  default    = "0.95"
  minimum    = "0.0"
  maximum    = "1.0"
  help       = "variable activity decay factor for Minisat"

[[option]]
  name       = "satClauseDecay"
  category   = "expert"
  type       = "double"
  default    = "0.999"
  minimum    = "0.0"
  maximum    = "1.0"
  help       = "clause activity decay factor for Minisat"

[[option]]
  name       = "satRestartFirst"
  category   = "expert"
  long       = "restart-int-base=N"
  type       = "uint64_t"
  default    = "25"
  help       = "sets the base restart interval for the sat solver (N=25 by default)"

[[option]]
  name       = "satRestartInc"
  category   = "expert"
  long       = "restart-int-inc=F"
  type       = "double"
  default    = "3.0"
  minimum    = "0.0"
  help       = "sets the restart interval increase factor for the sat solver (F=3.0 by default)"

[[option]]
  name       = "minisatSimpMode"
  category   = "expert"
  long       = "minisat-simplification=MODE"
  type       = "MinisatSimpMode"
  default    = "ALL"
  help       = "Simplifications to be performed by Minisat."
  help_mode  = "Modes for Minisat simplifications."
[[option.mode.ALL]]
  name = "all"
  help = "Variable and clause elimination, plus other simplifications."
[[option.mode.CLAUSE_ELIM]]
  name = "clause-elim"
  help = "Caluse elimination and other simplifications, except variable elimination."
[[option.mode.NONE]]
  name = "none"
  help = "No simplifications."

[[option]]
  name       = "minisatDumpDimacs"
  category   = "expert"
  long       = "minisat-dump-dimacs"
  type       = "bool"
  default    = "false"
  help       = "instead of solving minisat dumps the asserted clauses in Dimacs format"

[[option]]
  name       = "preRegisterMode"
  category   = "expert"
  long       = "preregister-mode=MODE"
  type       = "PreRegisterMode"
  default    = "EAGER"
  help       = "Modes for when to preregister literals."
  help_mode  = "Modes for when to preregister literals."
[[option.mode.EAGER]]
  name = "eager"
  help = "Preregister literals when they are registered as literals in the SAT solver."
[[option.mode.LAZY]]
  name = "lazy"
  help = "Preregister literals when they are asserted by the SAT solver."
