id     = "SMT"
name   = "SMT Layer"

[[option]]
  name       = "ackermann"
  category   = "regular"
  long       = "ackermann"
  type       = "bool"
  default    = "false"
  help       = "eliminate functions by ackermannization"

[[option]]
  name       = "simplificationMode"
  alias      = ["simplification-mode"]
  category   = "regular"
  long       = "simplification=MODE"
  type       = "SimplificationMode"
  default    = "BATCH"
  help       = "choose simplification mode, see --simplification=help"
  help_mode  = "Simplification modes."
[[option.mode.NONE]]
  name = "none"
  help = "Do not perform nonclausal simplification."
[[option.mode.BATCH]]
  name = "batch"
  help = "Save up all ASSERTions; run nonclausal simplification and clausal (MiniSat) propagation for all of them only after reaching a querying command (CHECKSAT or QUERY or predicate SUBTYPE declaration)."

[[option]]
  name       = "simplificationBoolConstProp"
  category   = "expert"
  long       = "simplification-bcp"
  type       = "bool"
  default    = "false"
  help       = "apply Boolean constant propagation as a substituion during simplification"

[[option]]
  name       = "staticLearning"
  category   = "regular"
  long       = "static-learning"
  type       = "bool"
  default    = "true"
  help       = "use static learning (on by default)"

[[option]]
  name       = "learnedRewrite"
  category   = "regular"
  long       = "learned-rewrite"
  type       = "bool"
  default    = "false"
  help       = "rewrite the input based on learned literals"

[[option]]
  name       = "produceModels"
  category   = "common"
  short      = "m"
  long       = "produce-models"
  type       = "bool"
  default    = "false"
  help       = "support the get-value and get-model commands"

[[option]]
  name       = "checkModels"
  category   = "common"
  long       = "check-models"
  type       = "bool"
  default    = "false"
  help       = "after SAT/INVALID/UNKNOWN, check that the generated model satisfies user assertions"

[[option]]
  name       = "debugCheckModels"
  category   = "expert"
  long       = "debug-check-models"
  type       = "bool"
  default    = "false"
  help       = "after SAT/INVALID/UNKNOWN, check that the generated model satisfies user and internal assertions"

[[option]]
  name       = "modelVarElimUneval"
  category   = "expert"
  long       = "model-var-elim-uneval"
  type       = "bool"
  default    = "true"
  help       = "allow variable elimination based on unevaluatable terms to variables"

[[option]]
  name       = "modelCoresMode"
  category   = "regular"
  long       = "model-cores=MODE"
  type       = "ModelCoresMode"
  default    = "NONE"
  help       = "mode for producing model cores"
  help_mode  = "Model cores modes."
[[option.mode.NONE]]
  name = "none"
  help = "Do not compute model cores."
[[option.mode.SIMPLE]]
  name = "simple"
  help = "Only include a subset of variables whose values are sufficient to show the input formula is satisfied by the given model."
[[option.mode.NON_IMPLIED]]
  name = "non-implied"
  help = "Only include a subset of variables whose values, in addition to the values of variables whose values are implied, are sufficient to show the input formula is satisfied by the given model."

[[option]]
  name       = "produceLearnedLiterals"
  category   = "regular"
  long       = "produce-learned-literals"
  type       = "bool"
  default    = "false"
  help       = "produce learned literals, support get-learned-literals"

[[option]]
  name       = "produceProofs"
  category   = "regular"
  long       = "produce-proofs"
  type       = "bool"
  default    = "false"
  help       = "produce proofs, support check-proofs and get-proof"

[[option]]
  name       = "proofMode"
  category   = "expert"
  long       = "proof-mode=MODE"
  type       = "ProofMode"
  default    = "OFF"
  help       = "choose proof mode, see --proof-mode=help"
  help_mode  = "proof modes."
[[option.mode.OFF]]
  name = "off"
[[option.mode.PP_ONLY]]
  name = "pp-only"
[[option.mode.SAT]]
  name = "sat-proof"
[[option.mode.FULL]]
  name = "full-proof"

[[option]]
  name       = "checkProofs"
  category   = "regular"
  long       = "check-proofs"
  type       = "bool"
  default    = "false"
  help       = "after UNSAT/VALID, check the generated proof (with proof)"

[[option]]
  name       = "produceUnsatCores"
  category   = "regular"
  long       = "produce-unsat-cores"
  type       = "bool"
  default    = "false"
  help       = "turn on unsat core generation. Unless otherwise specified, cores will be produced using SAT soving under assumptions and preprocessing proofs."

[[option]]
  name       = "unsatCoresMode"
  category   = "expert"
  long       = "unsat-cores-mode=MODE"
  type       = "UnsatCoresMode"
  default    = "OFF"
  help       = "choose unsat core mode, see --unsat-cores-mode=help"
  help_mode  = "unsat cores modes."
[[option.mode.OFF]]
  name = "off"
  help = "Do not produce unsat cores."
[[option.mode.SAT_PROOF]]
  name = "sat-proof"
  help = "Produce unsat cores from the SAT proof and prepocessing proofs."
[[option.mode.ASSUMPTIONS]]
  name = "assumptions"
  help = "Produce unsat cores using solving under assumptions and preprocessing proofs."

[[option]]
  name       = "minimalUnsatCores"
  category   = "expert"
  long       = "minimal-unsat-cores"
  type       = "bool"
  default    = "false"
  help       = "if an unsat core is produced, it is reduced to a minimal unsat core"

[[option]]
  name       = "printCoresFull"
  category   = "regular"
  long       = "print-cores-full"
  type       = "bool"
  default    = "false"
  help       = "print all formulas regardless of whether they are named, e.g. in unsat cores"

[[option]]
  name       = "checkUnsatCores"
  category   = "regular"
  long       = "check-unsat-cores"
  type       = "bool"
  default    = "false"
  help       = "after UNSAT/VALID, produce and check an unsat core (expensive)"

[[option]]
  name       = "unsatAssumptions"
  category   = "regular"
  long       = "produce-unsat-assumptions"
  type       = "bool"
  default    = "false"
  help       = "turn on unsat assumptions generation"

[[option]]
  name       = "produceDifficulty"
  category   = "regular"
  long       = "produce-difficulty"
  type       = "bool"
  default    = "false"
  help       = "enable tracking of difficulty."

[[option]]
  name       = "difficultyMode"
  category   = "expert"
  long       = "difficulty-mode=MODE"
  type       = "DifficultyMode"
  default    = "LEMMA_LITERAL_ALL"
  help       = "choose output mode for get-difficulty, see --difficulty-mode=help"
  help_mode  = "difficulty output modes."
[[option.mode.LEMMA_LITERAL]]
  name = "lemma-literal"
  help = "Difficulty of an assertion is how many lemmas (at full effort) use a literal that the assertion depends on to be satisfied."
[[option.mode.LEMMA_LITERAL_ALL]]
  name = "lemma-literal-all"
  help = "Difficulty of an assertion is how many lemmas use a literal that the assertion depends on to be satisfied."
[[option.mode.MODEL_CHECK]]
  name = "model-check"
  help = "Difficulty of an assertion is how many times it was not satisfied in a candidate model."

[[option]]
  name       = "checkSynthSol"
  category   = "regular"
  long       = "check-synth-sol"
  type       = "bool"
  default    = "false"
  help       = "checks whether produced solutions to functions-to-synthesize satisfy the conjecture"

[[option]]
  name       = "produceAssignments"
  category   = "regular"
  long       = "produce-assignments"
  type       = "bool"
  default    = "false"
  help       = "support the get-assignment command"

[[option]]
  name       = "produceAssertions"
  category   = "regular"
  long       = "produce-assertions"
  type       = "bool"
  alias      = ["interactive-mode"]
  default    = "true"
  help       = "keep an assertions list. Note this option is always enabled."

[[option]]
  name       = "doITESimp"
  category   = "expert"
  long       = "ite-simp"
  type       = "bool"
  default    = "false"
  help       = "turn on ite simplification (Kim (and Somenzi) et al., SAT 2009)"

[[option]]
  name       = "doITESimpOnRepeat"
  category   = "expert"
  long       = "on-repeat-ite-simp"
  type       = "bool"
  default    = "false"
  help       = "do the ite simplification pass again if repeating simplification"

[[option]]
  name       = "extRewPrep"
  category   = "regular"
  long       = "ext-rew-prep=MODE"
  type       = "ExtRewPrepMode"
  default    = "OFF"
  help       = "mode for using extended rewriter as a preprocessing pass, see --ext-rew-prep=help"
  help_mode  = "extended rewriter preprocessing pass modes."
[[option.mode.OFF]]
  name = "off"
  help = "do not use extended rewriter as a preprocessing pass."
[[option.mode.USE]]
  name = "use"
  help = "use extended rewriter as a preprocessing pass."
[[option.mode.AGG]]
  name = "agg"
  help = "use aggressive extended rewriter as a preprocessing pass."

[[option]]
  name       = "simplifyWithCareEnabled"
  category   = "expert"
  long       = "simp-with-care"
  type       = "bool"
  default    = "false"
  help       = "enables simplifyWithCare in ite simplificiation"

[[option]]
  name       = "compressItes"
  category   = "expert"
  long       = "simp-ite-compress"
  type       = "bool"
  default    = "false"
  help       = "enables compressing ites after ite simplification"

[[option]]
  name       = "earlyIteRemoval"
  category   = "expert"
  long       = "early-ite-removal"
  type       = "bool"
  default    = "false"
  help       = "remove ITEs early in preprocessing"

[[option]]
  name       = "unconstrainedSimp"
  category   = "regular"
  long       = "unconstrained-simp"
  type       = "bool"
  default    = "false"
  help       = "turn on unconstrained simplification (see Bruttomesso/Brummayer PhD thesis). Fully supported only in (subsets of) the logic QF_ABV."

[[option]]
  name       = "repeatSimp"
  category   = "expert"
  long       = "repeat-simp"
  type       = "bool"
  default    = "false"
  help       = "make multiple passes with nonclausal simplifier"

[[option]]
  name       = "sortInference"
  category   = "regular"
  long       = "sort-inference"
  type       = "bool"
  default    = "false"
  help       = "calculate sort inference of input problem, convert the input based on monotonic sorts"

[[option]]
  name       = "abstractValues"
  category   = "expert"
  long       = "abstract-values"
  type       = "bool"
  default    = "false"
  help       = "in models, output arrays (and in future, maybe others) using abstract values, as required by the SMT-LIB standard"

[[option]]
  name       = "foreignTheoryRewrite"
  category   = "expert"
  long       = "foreign-theory-rewrite"
  type       = "bool"
  default    = "false"
  help       = "Cross-theory rewrites"

[[option]]
  name       = "solveBVAsInt"
  category   = "expert"
  long       = "solve-bv-as-int=MODE"
  type       = "SolveBVAsIntMode"
  default    = "OFF"
  help       = "mode for translating BVAnd to integer"
  help_mode  = "solve-bv-as-int modes."
[[option.mode.OFF]]
  name = "off"
  help = "Do not translate bit-vectors to integers"
[[option.mode.SUM]]
  name = "sum"
  help = "Generate a sum expression for each bvand instance, based on the value in --solve-bv-as-int-granularity"
[[option.mode.IAND]]
  name = "iand"
  help = "Translate bvand to the iand operator (experimental)"
[[option.mode.BV]]
  name = "bv"
  help = "Translate bvand back to bit-vectors"
[[option.mode.BITWISE]]
  name = "bitwise"
  help = "Introduce a UF operator for bvand, and eagerly add bitwise lemmas"

[[option]]
  name       = "bvToIntUsePow2"
  category   = "undocumented"
  long       = "bv-to-int-use-pow2"
  type       = "bool"
  default    = "false"
  help       = "use internal pow2 operator when translating shift notes"

[[option]]
  name       = "BVAndIntegerGranularity"
  category   = "expert"
  long       = "bvand-integer-granularity=N"
  type       = "uint64_t"
  default    = "1"
  minimum    = "1"
  maximum    = "8"
  help       = "granularity to use in --solve-bv-as-int mode and for iand operator (experimental)"

[[option]]
  name       = "iandMode"
  category   = "expert"
  long       = "iand-mode=mode"
  type       = "IandMode"
  default    = "VALUE"
  help       = "Set the refinement scheme for integer AND"
  help_mode  = "Refinement modes for integer AND"
  [[option.mode.VALUE]]
  name = "value"
  help = "value-based refinement"
  [[option.mode.SUM]]
  name = "sum"
  help = "use sum to represent integer AND in refinement"
  [[option.mode.BITWISE]]
  name = "bitwise"
  help = "use bitwise comparisons on binary representation of integer for refinement (experimental)"

[[option]]
  name       = "solveIntAsBV"
  category   = "regular"
  long       = "solve-int-as-bv=N"
  type       = "uint64_t"
  default    = "0"
  maximum    = "4294967295"
  help       = "attempt to solve a pure integer satisfiable problem by bitblasting in sufficient bitwidth (experimental)"

[[option]]
  name       = "solveRealAsInt"
  category   = "regular"
  long       = "solve-real-as-int"
  type       = "bool"
  default    = "false"
  help       = "attempt to solve a pure real satisfiable problem as an integer problem (for non-linear)"

[[option]]
  name       = "produceInterpolants"
  category   = "regular"
  long       = "produce-interpolants"
  type       = "bool"
  default    = "false"
  help       = "turn on interpolation generation."

[[option]]
  name       = "interpolantsMode"
  category   = "regular"
  long       = "interpolants-mode=MODE"
  type       = "InterpolantsMode"
  default    = "DEFAULT"
  help       = "choose interpolants production mode, see --interpolants-mode=help"
  help_mode  = "Interpolants grammar mode"
[[option.mode.DEFAULT]]
  name = "default"
  help = "use the default grammar for the theory or the user-defined grammar if given"
[[option.mode.ASSUMPTIONS]]
  name = "assumptions"
  help = "use only operators that occur in the assumptions"
[[option.mode.CONJECTURE]]
  name = "conjecture"
  help = "use only operators that occur in the conjecture"
[[option.mode.SHARED]]
  name = "shared"
  help = "use only operators that occur both in the assumptions and the conjecture"
[[option.mode.ALL]]
  name = "all"
  help = "use only operators that occur either in the assumptions or the conjecture"

[[option]]
  name       = "produceAbducts"
  category   = "regular"
  long       = "produce-abducts"
  type       = "bool"
  default    = "false"
  help       = "support the get-abduct command"

[[option]]
  name       = "checkInterpolants"
  category   = "regular"
  long       = "check-interpolants"
  type       = "bool"
  default    = "false"
  help       = "checks whether produced solutions to get-interpolant are correct"

[[option]]
  name       = "checkAbducts"
  category   = "regular"
  long       = "check-abducts"
  type       = "bool"
  default    = "false"
  help       = "checks whether produced solutions to get-abduct are correct"

[[option]]
  name       = "deepRestartMode"
  category   = "expert"
  long       = "deep-restart=MODE"
  type       = "DeepRestartMode"
  default    = "NONE"
  help       = "mode for deep restarts"
  help_mode  = "Mode for deep restarts"
[[option.mode.NONE]]
  name = "none"
  help = "do not use deep restart"
[[option.mode.INPUT]]
  name = "input"
  help = "learn literals that appear in the input"
[[option.mode.INPUT_AND_SOLVABLE]]
  name = "input-and-solvable"
  help = "learn literals that appear in the input and those that can be solved for variables that appear in the input"
[[option.mode.INPUT_AND_PROP]]
  name = "input-and-prop"
  help = "learn literals that appear in the input and those that can be solved for variables, or correspond to constant propagations for terms that appear in the input"
[[option.mode.ALL]]
  name = "all"
  help = "learn all literals"

[[option]]
  name       = "deepRestartFactor"
  category   = "expert"
  long       = "deep-restart-factor=F"
  type       = "double"
  default    = "3.0"
  minimum    = "0.0"
  maximum    = "1000.0"
  help       = "sets the threshold for average assertions per literal before a deep restart"

[[option]]
  name       = "toCoreTimeout"
  category   = "expert"
  long       = "timeout-core-timeout=N"
  type       = "uint64_t"
  default    = "10000"
  help       = "timeout (in milliseconds) for satisfiability checks for timeout cores"
