id     = "STRINGS"
name   = "Strings Theory"

[[option]]
  name       = "stringExp"
  category   = "regular"
  long       = "strings-exp"
  type       = "bool"
  default    = "false"
  help       = "experimental features in the theory of strings"

[[option]]
  name       = "stringFMF"
  category   = "regular"
  long       = "strings-fmf"
  type       = "bool"
  default    = "false"
  help       = "the finite model finding used by the theory of strings"

[[option]]
  name       = "stringLazyPreproc"
  category   = "regular"
  long       = "strings-lazy-pp"
  type       = "bool"
  default    = "true"
  help       = "perform string preprocessing lazily"

[[option]]
  name       = "stringLenNorm"
  category   = "expert"
  long       = "strings-len-norm"
  type       = "bool"
  default    = "true"
  help       = "strings length normalization lemma"

[[option]]
  name       = "stringInferSym"
  category   = "expert"
  long       = "strings-infer-sym"
  type       = "bool"
  default    = "true"
  help       = "generalized inferences in strings based on proxy symbols"

[[option]]
  name       = "stringEagerReg"
  category   = "expert"
  long       = "strings-eager-reg"
  type       = "bool"
  default    = "true"
  help       = "do registration lemmas for terms during preregistration. If false, do registration lemmas for terms when they appear in asserted literals"

[[option]]
  name       = "stringCheckEntailLen"
  category   = "regular"
  long       = "strings-check-entail-len"
  type       = "bool"
  default    = "true"
  help       = "check entailment between length terms to reduce splitting"

[[option]]
  name       = "stringProcessLoopMode"
  category   = "regular"
  long       = "strings-process-loop-mode=MODE"
  type       = "ProcessLoopMode"
  default    = "FULL"
  help       = "determines how to process looping string equations"
  help_mode = "Loop processing modes."
[[option.mode.FULL]]
  name = "full"
  help = "Perform full processing of looping word equations."
[[option.mode.SIMPLE]]
  name = "simple"
  help = "Omit normal loop breaking (default with --strings-fmf)."
[[option.mode.SIMPLE_ABORT]]
  name = "simple-abort"
  help = "Abort when normal loop breaking is required."
[[option.mode.NONE]]
  name = "none"
  help = "Omit loop processing."
[[option.mode.ABORT]]
  name = "abort"
  help = "Abort if looping word equations are encountered."

[[option]]
  name       = "stringInferAsLemmas"
  category   = "expert"
  long       = "strings-infer-as-lemmas"
  type       = "bool"
  default    = "false"
  help       = "always send lemmas out instead of making internal inferences"

[[option]]
  name       = "stringRExplainLemmas"
  category   = "expert"
  long       = "strings-rexplain-lemmas"
  type       = "bool"
  default    = "true"
  help       = "regression explanations for string lemmas"

[[option]]
  name       = "stringModelBasedReduction"
  category   = "regular"
  long       = "strings-mbr"
  type       = "bool"
  default    = "true"
  help       = "use models to avoid reductions for extended functions that introduce quantified formulas"

[[option]]
  name       = "regExpElim"
  category   = "regular"
  long       = "re-elim=MODE"
  type       = "RegExpElimMode"
  default    = "OFF"
  help       = "regular expression elimination mode"
  help_mode  = "Regular expression elimination modes."
[[option.mode.OFF]]
  name = "off"
  help = "Do not use regular expression elimination."
[[option.mode.ON]]
  name = "on"
  help = "Use regular expression elimination."
[[option.mode.AGG]]
  name = "agg"
  help = "Use aggressive regular expression elimination."

[[option]]
  name       = "stringFlatForms"
  category   = "expert"
  long       = "strings-ff"
  type       = "bool"
  default    = "true"
  help       = "do flat form inferences"

[[option]]
  name       = "stringRegExpInterMode"
  category   = "expert"
  long       = "re-inter-mode=MODE"
  type       = "RegExpInterMode"
  default    = "NONE"
  help       = "determines which regular expressions intersections to compute"
  help_mode  = "Regular expression intersection modes."
[[option.mode.ALL]]
  name = "all"
  help = "Compute intersections for all regular expressions."
[[option.mode.CONSTANT]]
  name = "constant"
  help = "Compute intersections only between regular expressions that do not contain re.allchar or re.range."
[[option.mode.ONE_CONSTANT]]
  name = "one-constant"
  help = "Compute intersections only between regular expressions such that at least one side does not contain re.allchar or re.range."
[[option.mode.NONE]]
  name = "none"
  help = "Do not compute intersections for regular expressions."

[[option]]
  name       = "stringEagerEval"
  category   = "regular"
  long       = "strings-eager-eval"
  type       = "bool"
  default    = "true"
  help       = "perform eager context-dependent evaluation for applications of string kinds in the equality engine"

[[option]]
  name       = "stringsAlphaCard"
  category   = "expert"
  long       = "strings-alpha-card=N"
  type       = "uint64_t"
  default    = "196608"
  maximum    = "196608"
  help       = "the assumed cardinality of the alphabet of characters for strings, which is a prefix of the interval of unicode code points in the SMT-LIB standard"
  
[[option]]
  name       = "stringsDeqExt"
  category   = "regular"
  long       = "strings-deq-ext"
  type       = "bool"
  default    = "false"
  help       = "use extensionality for string disequalities"

[[option]]
  name       = "stringsEagerLenEntRegexp"
  category   = "regular"
  long       = "strings-eager-len-re"
  type       = "bool"
  default    = "false"
  help       = "use regular expressions for eager length conflicts"

[[option]]
  name       = "stringEagerSolver"
  category   = "regular"
  long       = "strings-eager-solver"
  type       = "bool"
  default    = "true"
  help       = "use the eager solver"

[[option]]
  name       = "stringRegexpInclusion"
  category   = "regular"
  long       = "strings-regexp-inclusion"
  type       = "bool"
  default    = "true"
  help       = "use regular expression inclusion for finding conflicts and avoiding regular expression unfolding"

[[option]]
  name       = "seqArray"
  category   = "expert"
  long       = "seq-array=MODE"
  type       = "SeqArrayMode"
  default    = "NONE"
  help       = "use array-inspired solver for sequence updates in eager or lazy mode"
  help_mode  = "use array-inspired solver for sequence updates in eager or lazy mode"
[[option.mode.LAZY]]
  name = "lazy"
  help = "use array-inspired solver for sequence updates in lazy mode"
[[option.mode.EAGER]]
  name = "eager"
  help = "use array-inspired solver for sequence updates in eager mode"
[[option.mode.NONE]]
  name = "none"
  help = "do not use array-inspired solver for sequence updates"

[[option]]
  name       = "stringsModelMaxLength"
  category   = "expert"
  long       = "strings-model-max-len=N"
  type       = "uint64_t"
  default    = "65536"
  maximum    = "2147483647"
  help       = "The maximum size of string values in models"

[[option]]
  name       = "stringsCodeElim"
  category   = "expert"
  long       = "strings-code-elim"
  type       = "bool"
  default    = "false"
  help       = "eliminate code points during preprocessing"

[[option]]
  name       = "stringRegexpPosConcatEager"
  category   = "expert"
  long       = "strings-re-posc-eager"
  type       = "bool"
  default    = "false"
  help       = "eager reduction of positive membership into concatentation"
