# files and dirs to ignore
scripts/fuzz
scripts/reconf
scripts/aws
.git/
debian

appveyor.yml
AUTHORS
build
.clang-format
cryptominisat.kdev4
debian
.directory
Dockerfile
.dockerignore
docs
.git
.gitignore
.gitmodules
jni
.kdev4
LICENSE.txt
python
README.markdown
sql_*
tests
.travis.yml
utils
web/dygraphs/node_modules
