*.kdev4
*.pyc
.directory
scripts/fuzzTest*.cnf
scripts2/
scripts3/
scripts4/
desc/satcomp14/cmsv4.aux
desc/satcomp14/cmsv4.bbl
desc/satcomp14/cmsv4.blg
desc/satcomp14/cmsv4.kilepr
desc/satcomp14/cmsv4.log
desc/satcomp14/cmsv4.out
desc/satcomp14/cmsv4.pdf
scripts/reconf/outs
tests/cnf-files/*.sqlite
scripts/fuzz/fuzzTest_*
scripts/fuzz/tmp_for_xor_to_cnf_*
scripts/reconf/outfile*

web/jquery-1.11.3.min.js
